* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    color: white;
    background-color: #1F2937;
}
h1, h4, p {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A69D2;
    color: white;
    text-align: center;
}
h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-top: 59px;
    margin-bottom: 9px;
}
.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 51px;
}
.service-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 40px;
}
.btn {
    border: none;
    padding: 15px 23px;
    border-radius: 7px;
    background-color: #D1D4F4;
    font-size: 14px;
    font-weight: 700;
    color: #4A4E74;
}
.btn:focus {
    outline: none;
}
.invoice {
    margin: 40px;
    font-weight: 400;
}
.task-container {
    display: flex;
}
h4 {
    font-weight: 400;
    font-size: 12px;
}
.task-container .total {
    margin-left: auto;
}
ul {
    list-style: none;
    padding:0;
    font-weight: 700;
    font-size: 20px;
}
ul > li {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
ul > li > .remove-btn {
    text-decoration: none;
    color: white;
    font-size: 8px;
    font-weight: 400;
    margin-left: 15px;
    background: none;
    border: none;
}
ul > li > .remove-btn:focus {
    outline: none;
}
ul > li > .currency {
    margin-left: auto;
    font-weight: 300;
    color: #918E9B;
    font-size: 24px;
}

.price {
    font-size: 24px;
    font-weight: 500px;
}

hr {
    border: 1px solid #C3C6DB;
}
.notes-total {
    display: flex;
    margin-bottom: 15px;
}
.note {
    font-weight: 400;
    font-size: 12px;
}
.total-amount-h4 {
    margin-left: auto;
}
.notes-total-price {
    display: flex;
}
.total-price {
    margin-left: auto;
    font-size: 36px;
    font-weight: 600;
}
.btn-align {
    display: flex;
    justify-content: center;
}
.send-button {
    background-color: #3A69D2;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 7px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 50px;
}
.icon {
    padding-right: 10px
}
